/* variables */

:root {
    --metric-box-spacing: 1rem;
    --inevi-dark-purple: #3c1277;
    --inevi-dark-purple-accent: #542f88;
    --inevi-white: #ffffff;
    --inevi-lavender: #dfd8e8;
    --inevi-gray: #757575;
    --inevi-red: #f0473f;
    --inevi-amber: #ffbf00;
}

/* font style classes */

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
}

/* element styles */

body {
    margin: 0;
    padding: 0;
    color: #3c1277;
}

p {
    margin-block-start: var(--metric-box-spacing);
}

ul {
    padding-left: 0;
}

li {
    list-style: none;
}

header {
    padding: var(--metric-box-spacing);
    background-color: var(--inevi-dark-purple);
    font-size: 1.4em;
    border-radius: 0.6em;
}

main {
    min-block-size: calc(100vh - 6em);
}

main h2 {
    text-align: center;
}

footer {
    padding: calc(var(--metric-box-spacing) / 2);
    background-color: var(--inevi-lavender);
}

label,
input,
select {
    display: block;
    margin: 0.2em;
}

/* alignment util classes */

.centered-text {
    text-align: center;
}

.place-self-center {
    place-self: center;
}

/* element class styles */

.nav {
    gap: 2em;
    padding: 0px;
    color: var(--inevi-white);
}

.nav li a {
    text-decoration: none;
}

.nav li a:visited {
    color: var(--inevi-lavender);
}

.nav li a:hover {
    color: var(--inevi-white);
}

.component-form,
.signup-form,
.login-form {
    background-color: var(--inevi-lavender);
    padding: var(--metric-box-spacing);
    margin: var(--metric-box-spacing);
}

.response-message {
    text-align: center;
    display: inline-block;
    width: 100px;
    height: 13px;
}

.btn,
.btn-warning,
.btn-caution {
    background-color: var(--inevi-white);
    color: var(--inevi-dark-purple-accent);
    padding-left: 2em;
    padding-right: 2em;
    border-radius: 0.6em;
    text-align: center;
    max-width: fit-content;
    align-self: center;
}

.btn:hover {
    background-color: var(--inevi-dark-purple-accent);
    color: var(--inevi-white);
}

.btn-warning:hover {
    background-color: var(--inevi-red);
    color: var(--inevi-white);
}

.btn-caution:hover {
    background-color: var(--inevi-amber);
    color: var(--inevi-white);
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.input-group .icon {
    margin-left: -1.5em;
    margin-right: 0.5em;
    color: var(--inevi-gray);
}

.backdrop {
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.75);
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 90%;
    max-width: 500px;
    min-width: 25%;
    margin: 0;
    z-index: 1000;
    border-radius: 14px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    animation: slide-down 300ms ease-out forwards;
}

.spinner {
    border: 0.25rem solid var(--inevi-white);
    border-top: 0.25rem solid var(--inevi-dark-purple);
    border-radius: 50%;
    animation: spin 1s linear infinite;
    width: 2rem;
    height: 2rem;
    align-self: center;
}

.btn-text {
    font-size: 0.725rem;
    display: inline;
}

/* containers and container items */

.flex_row_center {
    display: flex;
    flex-direction: row;
    place-content: center;
}

.btn_container {
    display: flex;
    flex-direction: row;
    place-content: center;
    width: 100px;
    height: 40px;
    transition: all 0.3s ease;
}

.flex_col_place_items_center {
    display: flex;
    flex-direction: column;
    place-items: center;
}

.flex_col {
    display: flex;
    flex-direction: column;
}

.grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
}

.grid-item {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1),
        0 1px 3px rgba(0, 0, 0, 0.06);

    border-radius: 0.5rem;
    padding: 0.75rem;
}

/* animations */

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes slide-down {
    from {
        opacity: 0;
        transform: translate(-50%, -40%);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

/* media queries */

@media (min-width: 40rem) {
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
}

@media (min-width: 48rem) {
    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
}
