/* variables */

:root {
    --metric-box-spacing: 1rem;
    --inevi-dark-purple: #3c1277;
    --inevi-dark-purple-accent: #542f88;
    --inevi-white: #ffffff;
    --inevi-lavender: #dfd8e8;
    --inevi-gray: #717171;
}

/* element styles */

body {
    margin: 0;
    padding: 0;
}

p {
    margin-block-start: var(--metric-box-spacing);
}

li {
    list-style: none;
}

header,
footer {
    text-align: center;
}

header {
    padding: var(--metric-box-spacing);
    background-color: var(--inevi-dark-purple);
    font-size: 1.4em;
    border-radius: 0.6em;
}

form {
    background-color: var(--inevi-lavender);
}

form button {
    max-width: 25%;
    padding-left: 2em;
    padding-right: 2em;
    border-radius: 0.6em;
}

form,
div {
    padding: var(--metric-box-spacing);
    margin: var(--metric-box-spacing);
}

main {
    min-block-size: calc(100vh - 6em);
}

main div {
    background-color: var(--inevi-lavender);
}

main h2 {
    text-align: center;
}

footer {
    padding: calc(var(--metric-box-spacing) / 2);
    background-color: var(--inevi-lavender);
}

label,
input,
select {
    display: block;
}

/* class styles */

.nav {
    gap: 2em;
    padding: 0px;
    color: var(--inevi-white);
}

.nav a {
    text-decoration: none;
}

.nav a:visited {
    color: var(--inevi-lavender);
}

.nav a:hover {
    color: var(--inevi-white);
}

/* containers */

.flex_row_center {
    display: flex;
    flex-direction: row;
    place-content: center;
}

.flex_col_items_content_center {
    display: flex;
    flex-direction: column;
    place-items: center;
    justify-content: center;
}

.flex_col {
    display: flex;
    flex-direction: column;
}

@media (min-width: 45em) {
    main form {
        flex: 2;
        gap: 1.2em;
        background-color: var(--inevi-lavender);
        color: var(--inevi-dark-purple);
        font-weight: 500;
    }
    main div {
        flex: 2;
    }
}
